<div class="background-particle">
    <canvas id="backParticle">

    </canvas>
    <script>
        const ctx = document.getElementById('backParticle').getContext('2d');

        
    </script>
</div>