<div class="roomContainer">
    <h1>List of Rooms</h1>
    <div class="rooms">
        <% some.forEach(room => { %>
            <%- include('roomcard', {
                id: room.id,
                title: room.title,
                count: room.cnt,
                isLocked: room.isLocked,
            }) %>
        <% }); %>
    </div>
</div>