<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/defaultStyle.css">
    <link rel="stylesheet" href="/css/gameStyle.css">
    <script src="/js/gameScript.js" type="module" defer></script>
    <title>GAME</title>
</head>

<body>
    <div class="info">
        <div class="match-container">
            <div class="player-card">
                <p class="player-rank">RANK 1</p>
                <p class="player-name">USERNAME</p>
                <div class="player-avatar player-one"></div>
            </div>

            <p class="vs-text">VS</p>

            <div class="player-card">
                <div class="player-avatar player-two"></div>
                <p class="player-name">USERNAME</p>
                <p class="player-rank">RANK 1</p>
            </div>
        </div>

        <div class="button-container">
            <button class="btn btn-settings">방 설정</button>
            <button class="btn btn-leave">나가기</button>
        </div>
    </div>
    <div class="board">
        <%- include(background) %>
        <canvas id="canvas">
            
        </canvas>
        <div class="gameUI">
            <h1></h1>
            <h2></h2>
            <input type="text" autofocus>
            <span id="textView"></span>
        </div>
    </div>
</body>
</html>