<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/defaultStyle.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/logoScript.js" defer></script>
    <title>Document</title>
</head>
<body>
    <%- include(background) %>
    <div id="container">
        <h1 id="title">Hello World!</h1>
        <form action="/sign" method="post" id="signForm">
            <input type="hidden" name="flag" id="signFlag" value="i"/>
            <div class="inputField">
                <label for="id">ID <p>This ID is not a valid or not supported.</p></label>
                <input type="text" id="id" name="id" spellcheck="false">
            </div>
            <div class="inputField">
                <label for="pwd">PASSWORD <p>Use at least 8 characters</p></label>
                <input type="password" id="pwd" name="pwd" spellcheck="false">
                <a href="#">Forgot my password</a>
            </div>
            <div class="inputField hidden" id="userInput">
                <label for="username">USERNAME <p>Use at least 2 characters</p></label>
                <input type="text" id="username" name="username" spellcheck="false">
            </div>
            <input id="signSubmit" type="submit" value="Sign in">
        </form>
        <a href="#" class="createAccount">Create Account</a>
    </div>
</body>
</html>