<div class="cardContainer">
    <h1>Hello World</h1>
    <% some.forEach(card => { %>
        <%- include('menucard', {
            url: card.url,
            title: card.title,
            desc: card.desc,
        }) %>
    <% }); %>
</div>