:root {
    --background: #383B4C;
    --primary: #bdc6fa;
    --button-primary: #8C9AEF;
    --secondary: #3D4369;
    --container-back: #5B6081;
    --text-primary: #fff;
    --text-secondary: #8489a4;
    --shadow-primary: #292C3D;
    --failed-primary: #ef8c8c;
    --card-primary: #424c55;
    --room-primary: #8990C2;
}

/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
    width: 12px; /* 스크롤바의 너비 */
}

/* 스크롤바의 배경(트랙) */
::-webkit-scrollbar-track {
    background-color: transparent; /* 트랙의 배경색 */
    border-radius: 10px;
}

/* 스크롤바의 핸들(움직이는 막대) */
::-webkit-scrollbar-thumb {
    background-color: var(--primary); /* 핸들의 색상 */
    border-radius: 10px;
}

/* 핸들에 마우스를 올렸을 때 */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--button-primary);
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    display: flex;
    height: 100%;
    background-color: var(--background);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}