:root {
    --background: #383B4C;
    --primary: #bdc6fa;
    --secondary: #3D4369;
    --container-back: #5B6081;
    --text-primary: #fff;
    --text-secondary: #8489a4;
    --shadow-primary: #292C3D;
    --failed-primary: #ef8c8c;
    --card-primary: #424c55;
    --room-primary: #8990C2;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    display: flex;
    min-height: 100%;
    background-color: var(--background);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}