#container {
    padding-top: 20px;
    padding-bottom: 35px;
    user-select: none;
    caret-color: transparent;
    width: 750px;
    background-color: var(--container-back);
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px 20px var(--shadow-primary);
    transition: 0.3s;
}

#container #title {
    color: var(--text-primary);
}

#container form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#container .inputField {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
    margin-bottom: 30px;
    transition: all 0.3s linear;
}

.inputField label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-primary);
    font-weight: bold;
    font-size: 22px;
}

.inputField label p {
    display: inline;
    font-size: 13px;
    color: var(--failed-primary);
    margin-left: 20px;
    opacity: 0;
    transition: 0.2s;
}

.inputField.failed label p {
    opacity: 1;
}

.inputField input[type="text"],
.inputField input[type="password"] {
    caret-color: var(--primary);
    transition: 0.2s;
    border: 3px solid transparent; 
    padding: 2px 15px 0 15px;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
    background-color: var(--secondary);
    height: 45px;
    border-radius: 15px;
}

.inputField input[type="text"]:focus,
.inputField input[type="password"]:focus {
    outline: none;
    border-color: var(--primary);
}

.inputField.failed input[type="text"],
.inputField.failed input[type="password"] {
    color: var(--failed-primary);
    caret-color: var(--failed-primary);
}

.inputField.failed input[type="text"]:focus,
.inputField.failed input[type="password"]:focus  {
    border-color: var(--failed-primary);
}

form #signSubmit {
    transition: 0.2s;
    margin-right: 10%;
    align-self: flex-end;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: var(--text-primary);
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

form #signSubmit:hover {
    color: var(--primary);
    background-color: var(--secondary);
}   

.inputField a, 
.inputField a:visited {
    width: fit-content;
    left: 10px;
    position: relative;
    color: var(--primary);
    font-weight: bold;
}

#container.up .inputField a {
    display: none;
    visibility: collapse;
}

#container .createAccount {
    color: var(--primary);
    font-weight: bold;
}

#container .inputField.hidden {
     margin-bottom: 0;
}

#userInput {
    max-height: 0;
    overflow: hidden;
}

#container.up #userInput {
    max-height: 300px; /* 실제 높이보다 충분히 큰 값 */
}